.back-container {
    display: flex;
    justify-content: flex-start; /* 왼쪽 정렬 */
    padding: 2rem;
}

.backbtn {
    height: 1rem;
    cursor: pointer;
}

.dash {
    padding-top: 0rem;
    padding-left: 5rem;
    height: 25rem;
    position: relative;
}

.dash-container{
  padding-top:2rem;
}
.book-thumbnail{
  padding-top:3rem;
}
.book-title{
  padding-top:3rem;
}
.text{
  padding-top: 3.3rem;
}
.description{
  padding-top: 3rem;
}

.goto {
    height: 1.3rem;
    padding-top: 1.5rem;
    padding-left: 5.3rem;
    padding-bottom: 1rem;
    cursor: pointer;
}

.bookthumbnail{
    position: absolute; /* `dash` 위에 배치 */
    top:44%;
    height: 18rem;
    border-radius: 10%;
    left:10%;
    
}

.book-title{
    position: absolute; /* `dash` 위에 배치 */
    top:35%;
    left:29%;
    height: 18rem;
    font-family: 'Pretendard-Regular';
}

.text{
    position: absolute; /* `dash` 위에 배치 */
    color:#9092A3;
    top:40%;
    left:29%;
    height: 18rem;
    font-family: 'Pretendard-Regular';

}
.description {
    position: absolute;
    top: 48%;
    left: 29%;
    height: 18rem;
    font-family: 'Pretendard-Regular';
    max-width: 24%;  /* 최대 너비 */
    overflow: hidden;
    text-overflow: ellipsis;  /* 넘칠 경우 '...'으로 처리 */
  }

  .rbtn {
    position: absolute;
    top: 69%;
    left: 28.5%;
    height: 2.5rem;
    font-family: 'Pretendard-Regular';
    cursor: pointer;
    padding-top:3rem;
  }

  .totaltime{
    position: absolute;
    font-family: 'Pretendard-Regular';
    font-size: 60px;
    color:#455622;
    font-weight: bold;
    padding-top:3rem;
    top: 51%;
    left: 69%;
  }

  .rbtn:hover{
    content: url("../img/image.png");
  }

  .time {
    position: absolute;
    top: 40%;
    left: 70%;
    font-size: 80px;
    font-family: 'Pretendard-Regular';
    color: #455622;
    font-weight: bold;
  }

  .mylist-container {
    padding-top: 3rem;
    padding-left: 5rem;
    padding-bottom: 5rem;
    width: 80rem;  /* 너비 고정 */
    position: relative;
    display: flex;
  }

  .mylist {
    width: 100%;  /* 부모 요소의 너비에 맞게 조정 */
    height: 50%;  /* 비율을 유지하면서 자동으로 높이 조정 */
    object-fit: cover;  /* 비율을 유지하면서 필요시 잘림 */
  }
  .memo-container {
    position: absolute; /* mylist 위에 배치 */
    top: 98%; /* mylist 위로 이동 (조절 가능) */
    left: 6%;
    display: flex;
    overflow-x: auto; /* 가로 스크롤 */
    scroll-snap-type: x mandatory; /* 캐러셀 */
    gap: 1rem;
    padding: 1rem;
    border-radius: 10px;
    scrollbar-width: none;
    max-width: 82%;
  }
  
  .memo-container::-webkit-scrollbar {
    display: none;
  }
  
  .memocon {
    min-width: 300px;
    max-width: 100px;
    height: 370px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    font-size: 16px;
    resize: none;
    scroll-snap-align: start;
    flex-shrink: 0;
  }
  
 
  
  
  
  
  
